<div id="horizontal" style="height: 100%; width: 100%;">
    <div id="left-pane">
          <div id="top-pane">
                            <div class="pane-content">
                                
								<!--for element 1 in menu.html-->
								<div id="megaStore"> </div> 
								
                            </div>
                        </div>
                        <div id="middle-pane">
                            <div class="pane-content">
                
								<div id="windowButton" style="height: 100%;"> </div>
								
								
								
                            </div>
                        </div>
                        <div id="newAdd" style="height: 100%;">
                            <div class="pane-content">
                           
                            </div>
                        </div>
                    
		
		
		
		
		
		
		
		
    </div>
    <div id="center-pane">
        <div class="pane-content">
		<div id="sch"> </div> 
            
        </div>
    </div>
    <div id="right-pane">
        <div class="pane-content">
			<div id="calHere"> </div> 
			
         
        </div>
    </div>
</div>